.postItem{
    height: 450px;
    width: 300px;

    margin: 0px 0px 30px 0px;

    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.postItemImage{
    height: 300px;
    width: 300px;
}

.postItemText{
    height: 150px;
    width: 300px;
}

.postPinnedItem{
    height: 150px;
    width: 450px;

    margin: 30px 0px 0px 0px;

    display: flex;
    flex-direction: row;

    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.postPinnedItemImage{
    height: 150px;
    width: 150px;
}

.postPinnedItemText{
    height: 150px;
    width: 300px;
}

.postItem:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.postPinnedItem:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}