#SideMenu{
    background-color: #164EAB;
    position: fixed;
    
    left: 0;
    top: 0;

    height: 100%;
    width: 550px;
    
    animation-name: SideMenuSlide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#SideMenuBottom{
    height: 50%;
    width: 100%;
}

#SideMenuTop{
    height: 50%;
    width: 100%;
}

@keyframes SideMenuSlide{
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 550px;
    }
}