#SideMenu{
    height: 100%;
    width: 350px;
    
    left: 0;
    top: 0;
    position: fixed;
    
    background-color: #164EAB;

    animation-name: SideMenuSlide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#SideMenuContent{
    width: 310px;

    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

    bottom: 0;
    position: absolute;
}

#SideMenuNav{
    width: 100%;

    margin-top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    animation-name: SideMenuNav;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#SideMenuTitle{
    width: 100%;

    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    animation-name: SideMenuTitleText;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#SideMenuTitle p{
    margin: 0px;

    color: #FFFFFF; 
    font-size: 50px;

    animation-name: SideMenuTitleTextScale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

hr{
    animation-name: SideMenuNav;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes SideMenuSlide{
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 350px;
    }
}

@keyframes SideMenuNav{
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes SideMenuTitleText{
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 320px;
    }
}

@keyframes SideMenuTitleTextScale{
    0% {
        font-size: 80px;
    }
    50% {
        font-size: 80px;
    }
    100% {
        font-size: 50px;
    }
}