#SideMenu{
    height: 100%;
    width: 350px;
    
    left: 0;
    top: 0;
    position: fixed;
    
    background-color: #164EAB;

    animation-name: SideMenuSlide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#SideMenuContent{
    width: 320px;

    margin: 10px;

    bottom: 0;
    position: absolute;
}

#SideMenuTitle{
    width: 100%;

    animation-name: SideMenuTitleText;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#SideMenuTitle p{
    margin: 0px;

    color: #FFFFFF; 
    font-size: 50px;

    animation-name: SideMenuTitleTextScale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes SideMenuSlide{
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 350px;
    }
}

@keyframes SideMenuTitleText{
    0% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 320px;
    }
}

@keyframes SideMenuTitleTextScale{
    0% {
        font-size: 80px;
    }
    50% {
        font-size: 80px;
    }
    100% {
        font-size: 50px;
    }
}