.AboutContent{
  width: 800px;
}

.markdown-body-about{
  width: 100%;

  font-family: "NanumSquare";
  text-align: center;
}

/* Mobile UI */
@media screen and (max-width: 920px){
  .PostCommentContent{
    width: 100%;
  }
  
  .PostFooter{
    height: 100px;
    width: 100%;
  }

  .PostTitle{
    margin-left: 30px;
    margin-right: 30px;
  }

  .PostViewContent{
    width: 100%;
  }

  .PostSeperator{
    width: 100%;
  }
}

.markdown-body-about .codeBlock{
  background: #000000;
  color: #ffffff;
  padding: 10px;
}

.markdown-body-about .inlineCodeBlock{
  background-color: #EEEEEE;
  color: #164EAB;
}

.markdown-body-about .quoteBlock{
  border: 1px dashed #aaaaaa;
  border-radius: 10px;
  padding-left: 10px;
  margin: 5px;
}

.markdown-body-about .octicon{
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body-about .anchor{
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown-body-about .anchor:focus{
  outline: none;
}

.markdown-body-about h1 .octicon-link,
.markdown-body-about h2 .octicon-link,
.markdown-body-about h3 .octicon-link,
.markdown-body-about h4 .octicon-link,
.markdown-body-about h5 .octicon-link,
.markdown-body-about h6 .octicon-link{
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body-about h1:hover .anchor,
.markdown-body-about h2:hover .anchor,
.markdown-body-about h3:hover .anchor,
.markdown-body-about h4:hover .anchor,
.markdown-body-about h5:hover .anchor,
.markdown-body-about h6:hover .anchor{
  text-decoration: none;
}

.markdown-body-about h1:hover .anchor .octicon-link,
.markdown-body-about h2:hover .anchor .octicon-link,
.markdown-body-about h3:hover .anchor .octicon-link,
.markdown-body-about h4:hover .anchor .octicon-link,
.markdown-body-about h5:hover .anchor .octicon-link,
.markdown-body-about h6:hover .anchor .octicon-link{
  visibility: visible;
}

.markdown-body-about h1:hover .anchor .octicon-link:before,
.markdown-body-about h2:hover .anchor .octicon-link:before,
.markdown-body-about h3:hover .anchor .octicon-link:before,
.markdown-body-about h4:hover .anchor .octicon-link:before,
.markdown-body-about h5:hover .anchor .octicon-link:before,
.markdown-body-about h6:hover .anchor .octicon-link:before{
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" version=\"1.1\" width=\"16\" height=\"16\" aria-hidden=\"true\"%3E%3Cpath fill-rule=\"evenodd\" d=\"M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z\"%3E%3C/path%3E%3C/svg%3E");
}.markdown-body-about{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body-about details{
  display: block;
}

.markdown-body-about summary{
  display: list-item;
}

.markdown-body-about a{
  background-color: initial;
}

.markdown-body-about a:active,
.markdown-body-about a:hover{
  outline-width: 0;
}

.markdown-body-about strong{
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-body-about h1{
  font-size: 2em;
  margin: .67em 0;
}

.markdown-body-about img{
  border-style: none;
}

.markdown-body-about code,
.markdown-body-about kbd,
.markdown-body-about pre{
  font-family: monospace,monospace;
  font-size: 1em;
}

.markdown-body-about hr{
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown-body-about input{
  font: inherit;
  margin: 0;
}

.markdown-body-about input{
  overflow: visible;
}

.markdown-body-about [type=checkbox]{
  box-sizing: border-box;
  padding: 0;
}

.markdown-body-about *{
  box-sizing: border-box;
}

.markdown-body-about input{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body-about a{
  color: #0366d6;
  text-decoration: none;
}

.markdown-body-about a:hover{
  text-decoration: underline;
}

.markdown-body-about strong{
  font-weight: 600;
}

.markdown-body-about hr{
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-body-about hr:after,
.markdown-body-about hr:before{
  display: table;
  content: "";
}

.markdown-body-about hr:after{
  clear: both;
}

.markdown-body-about table{
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body-about td,
.markdown-body-about th{
  padding: 0;
}

.markdown-body-about details summary{
  cursor: pointer;
}

.markdown-body-about kbd{
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body-about h1,
.markdown-body-about h2,
.markdown-body-about h3,
.markdown-body-about h4,
.markdown-body-about h5,
.markdown-body-about h6{
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-about h1{
  font-size: 32px;
}

.markdown-body-about h1,
.markdown-body-about h2{
  font-weight: 600;
}

.markdown-body-about h2{
  font-size: 24px;
}

.markdown-body-about h3{
  font-size: 20px;
}

.markdown-body-about h3,
.markdown-body-about h4{
  font-weight: 600;
}

.markdown-body-about h4{
  font-size: 16px;
}

.markdown-body-about h5{
  font-size: 14px;
}

.markdown-body-about h5,
.markdown-body-about h6{
  font-weight: 600;
}

.markdown-body-about h6{
  font-size: 12px;
}

.markdown-body-about p{
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body-about blockquote{
  margin: 0;
}

.markdown-body-about ol,
.markdown-body-about ul{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-about ol ol,
.markdown-body-about ul ol{
  list-style-type: lower-roman;
}

.markdown-body-about ol ol ol,
.markdown-body-about ol ul ol,
.markdown-body-about ul ol ol,
.markdown-body-about ul ul ol{
  list-style-type: lower-alpha;
}

.markdown-body-about dd{
  margin-left: 0;
}

.markdown-body-about code,
.markdown-body-about pre{
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
}

.markdown-body-about pre{
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-about input::-webkit-inner-spin-button,
.markdown-body-about input::-webkit-outer-spin-button{
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body-about :checked+.radio-label{
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body-about .border{
  border: 1px solid #e1e4e8!important;
}

.markdown-body-about .border-0{
  border: 0!important;
}

.markdown-body-about .border-bottom{
  border-bottom: 1px solid #e1e4e8!important;
}

.markdown-body-about .rounded-1{
  border-radius: 3px!important;
}

.markdown-body-about .bg-white{
  background-color: #fff!important;
}

.markdown-body-about .bg-gray-light{
  background-color: #fafbfc!important;
}

.markdown-body-about .text-gray-light{
  color: #6a737d!important;
}

.markdown-body-about .mb-0{
  margin-bottom: 0!important;
}

.markdown-body-about .my-2{
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

.markdown-body-about .pl-0{
  padding-left: 0!important;
}

.markdown-body-about .py-0{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown-body-about .pl-1{
  padding-left: 4px!important;
}

.markdown-body-about .pl-2{
  padding-left: 8px!important;
}

.markdown-body-about .py-2{
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.markdown-body-about .pl-3,
.markdown-body-about .px-3{
  padding-left: 16px!important;
}

.markdown-body-about .px-3{
  padding-right: 16px!important;
}

.markdown-body-about .pl-4{
  padding-left: 24px!important;
}

.markdown-body-about .pl-5{
  padding-left: 32px!important;
}

.markdown-body-about .pl-6{
  padding-left: 40px!important;
}

.markdown-body-about .f6{
  font-size: 12px!important;
}

.markdown-body-about .lh-condensed{
  line-height: 1.25!important;
}

.markdown-body-about .text-bold{
  font-weight: 600!important;
}

.markdown-body-about .pl-c{
  color: #6a737d;
}

.markdown-body-about .pl-c1,
.markdown-body-about .pl-s .pl-v{
  color: #005cc5;
}

.markdown-body-about .pl-e,
.markdown-body-about .pl-en{
  color: #6f42c1;
}

.markdown-body-about .pl-s .pl-s1,
.markdown-body-about .pl-smi{
  color: #24292e;
}

.markdown-body-about .pl-ent{
  color: #22863a;
}

.markdown-body-about .pl-k{
  color: #d73a49;
}

.markdown-body-about .pl-pds,
.markdown-body-about .pl-s,
.markdown-body-about .pl-s .pl-pse .pl-s1,
.markdown-body-about .pl-sr,
.markdown-body-about .pl-sr .pl-cce,
.markdown-body-about .pl-sr .pl-sra,
.markdown-body-about .pl-sr .pl-sre{
  color: #032f62;
}

.markdown-body-about .pl-smw,
.markdown-body-about .pl-v{
  color: #e36209;
}

.markdown-body-about .pl-bu{
  color: #b31d28;
}

.markdown-body-about .pl-ii{
  color: #fafbfc;
  background-color: #b31d28;
}

.markdown-body-about .pl-c2{
  color: #fafbfc;
  background-color: #d73a49;
}

.markdown-body-about .pl-c2:before{
  content: "^M";
}

.markdown-body-about .pl-sr .pl-cce{
  font-weight: 700;
  color: #22863a;
}

.markdown-body-about .pl-ml{
  color: #735c0f;
}

.markdown-body-about .pl-mh,
.markdown-body-about .pl-mh .pl-en,
.markdown-body-about .pl-ms{
  font-weight: 700;
  color: #005cc5;
}

.markdown-body-about .pl-mi{
  font-style: italic;
  color: #24292e;
}

.markdown-body-about .pl-mb{
  font-weight: 700;
  color: #24292e;
}

.markdown-body-about .pl-md{
  color: #b31d28;
  background-color: #ffeef0;
}

.markdown-body-about .pl-mi1{
  color: #22863a;
  background-color: #f0fff4;
}

.markdown-body-about .pl-mc{
  color: #e36209;
  background-color: #ffebda;
}

.markdown-body-about .pl-mi2{
  color: #f6f8fa;
  background-color: #005cc5;
}

.markdown-body-about .pl-mdr{
  font-weight: 700;
  color: #6f42c1;
}

.markdown-body-about .pl-ba{
  color: #586069;
}

.markdown-body-about .pl-sg{
  color: #959da5;
}

.markdown-body-about .pl-corl{
  text-decoration: underline;
  color: #032f62;
}

.markdown-body-about .mb-0{
  margin-bottom: 0!important;
}

.markdown-body-about .my-2{
  margin-bottom: 8px!important;
}

.markdown-body-about .my-2{
  margin-top: 8px!important;
}

.markdown-body-about .pl-0{
  padding-left: 0!important;
}

.markdown-body-about .py-0{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown-body-about .pl-1{
  padding-left: 4px!important;
}

.markdown-body-about .pl-2{
  padding-left: 8px!important;
}

.markdown-body-about .py-2{
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.markdown-body-about .pl-3{
  padding-left: 16px!important;
}

.markdown-body-about .pl-4{
  padding-left: 24px!important;
}

.markdown-body-about .pl-5{
  padding-left: 32px!important;
}

.markdown-body-about .pl-6{
  padding-left: 40px!important;
}

.markdown-body-about .pl-7{
  padding-left: 48px!important;
}

.markdown-body-about .pl-8{
  padding-left: 64px!important;
}

.markdown-body-about .pl-9{
  padding-left: 80px!important;
}

.markdown-body-about .pl-10{
  padding-left: 96px!important;
}

.markdown-body-about .pl-11{
  padding-left: 112px!important;
}

.markdown-body-about .pl-12{
  padding-left: 128px!important;
}

.markdown-body-about hr{
  border-bottom-color: #eee;
}

.markdown-body-about kbd{
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body-about:after,
.markdown-body-about:before{
  display: table;
  content: "";
}

.markdown-body-about:after{
  clear: both;
}

.markdown-body-about>:first-child{
  margin-top: 0!important;
}

.markdown-body-about>:last-child{
  margin-bottom: 0!important;
}

.markdown-body-about a:not([href]){
  color: inherit;
  text-decoration: none;
}

.markdown-body-about blockquote,
.markdown-body-about details,
.markdown-body-about dl,
.markdown-body-about ol,
.markdown-body-about p,
.markdown-body-about pre,
.markdown-body-about table,
.markdown-body-about ul{
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body-about hr{
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown-body-about blockquote{
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.markdown-body-about blockquote>:first-child{
  margin-top: 0;
}

.markdown-body-about blockquote>:last-child{
  margin-bottom: 0;
}

.markdown-body-about h1,
.markdown-body-about h2,
.markdown-body-about h3,
.markdown-body-about h4,
.markdown-body-about h5,
.markdown-body-about h6{
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body-about h1{
  font-size: 2em;
}

.markdown-body-about h1,
.markdown-body-about h2{
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body-about h2{
  font-size: 1.5em;
}

.markdown-body-about h3{
  font-size: 1.25em;
}

.markdown-body-about h4{
  font-size: 1em;
}

.markdown-body-about h5{
  font-size: .875em;
}

.markdown-body-about h6{
  font-size: .85em;
  color: #6a737d;
}

.markdown-body-about ol,
.markdown-body-about ul{
  padding-left: 2em;
}

.markdown-body-about ol ol,
.markdown-body-about ol ul,
.markdown-body-about ul ol,
.markdown-body-about ul ul{
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body-about li{
  word-wrap: break-all;
}

.markdown-body-about li>p{
  margin-top: 16px;
}

.markdown-body-about li+li{
  margin-top: .25em;
}

.markdown-body-about dl{
  padding: 0;
}

.markdown-body-about dl dt{
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body-about dl dd{
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body-about table{
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body-about table th{
  font-weight: 600;
}

.markdown-body-about table td,
.markdown-body-about table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body-about table tr{
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body-about table tr:nth-child(2n){
  background-color: #f6f8fa;
}

.markdown-body-about img{
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.markdown-body-about img[align=right]{
  padding-left: 20px;
}

.markdown-body-about img[align=left]{
  padding-right: 20px;
}

.markdown-body-about code{
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.markdown-body-about pre{
  word-wrap: normal;
}

.markdown-body-about pre>code{
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body-about .highlight{
  margin-bottom: 16px;
}

.markdown-body-about .highlight pre{
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body-about .highlight pre,
.markdown-body-about pre{
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body-about pre code{
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.markdown-body-about .commit-tease-sha{
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 90%;
  color: #444d56;
}

.markdown-body-about .full-commit .btn-outline:not(:disabled):hover{
  color: #005cc5;
  border-color: #005cc5;
}

.markdown-body-about .blob-wrapper{
  overflow-x: auto;
  overflow-y: hidden;
}

.markdown-body-about .blob-wrapper-embedded{
  max-height: 240px;
  overflow-y: auto;
}

.markdown-body-about .blob-num{
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27,31,35,.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body-about .blob-num:hover{
  color: rgba(27,31,35,.6);
}

.markdown-body-about .blob-num:before{
  content: attr(data-line-number);
}

.markdown-body-about .blob-code{
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

.markdown-body-about .blob-code-inner{
  overflow: visible;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.markdown-body-about .pl-token.active,
.markdown-body-about .pl-token:hover{
  cursor: pointer;
  background: #ffea7f;
}

.markdown-body-about .tab-size[data-tab-size="1"]{
  -moz-tab-size: 1;
  tab-size: 1;
}

.markdown-body-about .tab-size[data-tab-size="2"]{
  -moz-tab-size: 2;
  tab-size: 2;
}

.markdown-body-about .tab-size[data-tab-size="3"]{
  -moz-tab-size: 3;
  tab-size: 3;
}

.markdown-body-about .tab-size[data-tab-size="4"]{
  -moz-tab-size: 4;
  tab-size: 4;
}

.markdown-body-about .tab-size[data-tab-size="5"]{
  -moz-tab-size: 5;
  tab-size: 5;
}

.markdown-body-about .tab-size[data-tab-size="6"]{
  -moz-tab-size: 6;
  tab-size: 6;
}

.markdown-body-about .tab-size[data-tab-size="7"]{
  -moz-tab-size: 7;
  tab-size: 7;
}

.markdown-body-about .tab-size[data-tab-size="8"]{
  -moz-tab-size: 8;
  tab-size: 8;
}

.markdown-body-about .tab-size[data-tab-size="9"]{
  -moz-tab-size: 9;
  tab-size: 9;
}

.markdown-body-about .tab-size[data-tab-size="10"]{
  -moz-tab-size: 10;
  tab-size: 10;
}

.markdown-body-about .tab-size[data-tab-size="11"]{
  -moz-tab-size: 11;
  tab-size: 11;
}

.markdown-body-about .tab-size[data-tab-size="12"]{
  -moz-tab-size: 12;
  tab-size: 12;
}

.markdown-body-about .task-list-item{
  list-style-type: none;
}

.markdown-body-about .task-list-item+.task-list-item{
  margin-top: 3px;
}

.markdown-body-about .task-list-item input{
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}