.postContainer{
    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postItem{
    margin: 20px;
}

.postPinnedContainer{
    width: 1530px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seperator{
    width: 75%;
}

@media screen and (max-width: 1640px){
    .postPinnedContainer{
        width: 1180px;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1245px){
    .postPinnedContainer{
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Mobile UI */
@media screen and (max-width: 768px){
    .postContainer{
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .postItem{
        margin: 10px;
    }
    
    .postPinnedContainer{
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .seperator{
        margin-top: -5px;
        margin-bottom: -5px;
        margin-left: 10px;
        margin-right: 10px;

        width: 360px;
    }
}