.postContainer{
    width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postItem{
    margin: 20px;
}

.postPinnedContainer{
    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seperator{
    width: 1200px;
}

@media screen and (max-width: 1315px){
    .postPinnedContainer{
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Mobile UI */
@media screen and (max-width: 768px){
    .postContainer{
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .postItem{
        margin: 10px;
    }
    
    .postPinnedContainer{
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .seperator{
        margin-top: -5px;
        margin-bottom: -5px;

        width: 350px;
    }
}