.postContainer{
    width: "80%";
    
    display: "flex";
    flex-wrap: "wrap";
    justify-content: "center";
}

.postPinnedContainer{
    width: "100%";

    display: "flex";
    flex-wrap: "wrap";
    justify-content: "center";
}

.seperator{
    width: 75%;
}