#Container{
    height: 100%;
    width: 100%;
}

#NavContainer{
    align-items: center;
    display: flex;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: -10px;
}

/* Mobile UI */
@media screen and (max-width: 768px){
    #Container{
        height: 100%;
        width: 100%;
    }
}