.postContainer{
    width: 1000px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postPinnedContainer{
    width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    
.postPinnedTitle{
    width: 990px;
}

.seperator{
    width: 990px;
}

hr{
    border: 0;
    background-color: #808080;
    height: 1px;
}
