.postContainer{
    width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postItem{
    margin: 20px;
}

.postItemPinned{
    margin: 20px;
}

.postPinnedContainer{
    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
.postPinnedTitle{
    width: 990px;
}

.seperator{
    width: 990px;
}