.postContainer{
    width: 1000px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postPinnedContainer{
    width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
.postPinnedTitle{
    width: 990px;
}

.seperator{
    width: 990px;
}