#LeftMenu{
    background-color: #164EAB;
    position: fixed;
    
    left: 0;
    top: 0;

    height: 100%;
    /* width: 550px; */
}

#menuBottom{
    height: 50%;
    width: 100%;
}

#menuTop{
    height: 50%;
    width: 100%;
}