#SideMenu{
    background-color: #164EAB;
    position: fixed;
    
    left: 0;
    top: 0;

    height: 100%;
    width: 550px;
    transition: width 4s;
}

#SideMenuBottom{
    height: 50%;
    width: 100%;
}

#SideMenuTop{
    height: 50%;
    width: 100%;
}