@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    src: url("/home/server/web/fonts/NotoSans-Regular.ttf") format('truetype')
  }

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: bold;
    src: url("/home/server/web/fonts/NotoSans-Bold.ttf") format('truetype')
  }