#postItem{
    border: 1px solid #AAAAAA;
    height: 550px;
    width: 300px;
}

#postInfo{
    height: 250px;
    width: 300px;

    margin: 20px;
}

#postInfoDate{
    margin-top: -10px;
}

#postInfoDate p{
    color: #808080;
    font-size: 15px;
}

#postInfoTag{
    margin-top: 20px;
}

#postInfoTag p{
    color: #606060;
    font-size: 17px;
}

#postInfoTitle{
    width: 260px;
}

#postInfoTitle p{
    color: #164EAB;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#postThumbnail{
    height: 300px;
    width: 300px;
}   

#postThumbnail img{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

/* Mobile UI */
@media screen and (max-width: 800px){
    #postItem{
        border: 1px solid #AAAAAA;
        display: flex;
        height: 150px;
        width: 350px;
    }
    
    #postInfo{
        height: 150px;
        width: 200px;

        margin: 10px;
    }

    #postInfoDate{
        margin-top: -10px;
    }
    
    #postInfoDate p{
        color: #808080;
        font-size: 13px;
    }
    
    #postInfoTag{
        margin-top: 20px;
    }
    
    #postInfoTag p{
        color: #606060;
        font-size: 15px;
    }

    #postInfoTitle{
        margin-top: -5px;
    }
    
    #postInfoTitle p{
        color: #164EAB;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    #postThumbnail{
        height: 150px;
        width: 150px;
    }   
    
    #postThumbnail img{
        height: 100%;
        width: 100%;
    }
    
    a{
        text-decoration: none;
    }
}