#postItem{
    border: 1px solid #AAAAAA;
    display: flex;
    height: 200px;
    width: 75%;
}

#postInfo{
    margin: 20px;
}

#postInfoDate{
    margin-top: 5px;
}

#postInfoDate a{
    color: #808080;
    font-size: 15px;
}

#postInfoTag{
    margin-top: 20px;
}

#postInfoTag a{
    font-size: 15px;
}

#postInfoTitle{
    
}

#postInfoTitle a{
    font-size: 25px;
}

#postThumbnail{
    height: 200px;
    width: 200px;
}   

#postThumbnail img{
    height: 100%;
    width: 100%;
}