#postItem{
    height: 200px;
    width: 600px;
}

#postInfo{
    float: left;
    height: 200px;
    width: 400px;
}

#postThumbnail{
    height: 200px;
    width: 200px;
}

#postThumbnail img{
    height: 100%;
    width: 100%;
}